* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,22,142,1) 51%, rgba(0,212,255,0.9333858543417367) 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-app {
    background-color: #fbfbfb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.app-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2rem;
    width: 70%;
    margin-right: 0.5rem;
}

.search-box button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #0056b3;
}

.weather-info {
    margin-top: 20px;
}

.weather-info h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.weather-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-details p {
    margin: 0 10px;
    font-size: 18px;
    color: #555;
}

.weather-details img {
    width: 50px;
    height: 50px;
}


