 body{
    background-color: black;
    color: white;
    font-family : "Questrial", sans-serif;
    margin: auto 0 ;
    padding: 0;
    height: 100vh;
}
@media (max-width: 576px) {
    
    .logo {
        justify-content: center;
        width: 100%;
        position: relative; 
        margin-bottom: 2rem; /* Increased margin to give more space below the logo */
        
    }
    .search-box {
        margin-top: 6rem; /* Increased margin to push the search bar further down */
    }
   
}
.logo{
    display: flex;
    flex-direction: row;
    /* position: fixed;
    top: 0; */
   
    
    

}#title {
    margin: 1rem;
    font-family: "Dancing Script", cursive;

}#logo{
    width:50px ;
    margin: 1rem;
    height: 50px;

}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.search-box{
    width: 350px;
    height: 40px;
    display: flex;
    flex-direction: row;
    border: 1px solid #2b73c5;
    border-radius: 2rem;
    padding: 0.5rem ;
    background-color: #5486bf;
    margin-top: 1em;
}
.search-bar{
     border-radius: 2rem;
     border: none;
     padding: 1rem;
     width: 80%;
     background-color: #2b73c5;

}.search-bar::placeholder{
    color: rgb(201, 201, 201)   ;
}
.search-btn{
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    background-color: #2b73c5;
    margin-left: 1rem;
    padding-top: 0.75rem;
    cursor: pointer;
    color: rgb(201, 201, 201);
}

.main-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    
    
}
.weather-condition{
    margin-right: 2em;

}
.weather{
    font-size: 3rem;
}
#save-btn{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
.weather-info{
    margin-right: 2em;
}
.temp{
    font-size: 2rem;
}
#curr-location{
    font-size: 1rem;
}
.weather-details{
    display: flex;
    flex-direction: row;
    margin: 2em;
}
.winds{
    margin-right: 2em;
    background-color: #0e3f77;
    height: 8rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.5);
}.winds img{
    height: 100px;
    width: 100px ;
    margin-bottom: 0.5em;
}.winds-text{
    text-align: center;
}
.humidity{
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 8rem;
    margin-right: 2em;
    border-radius: 2rem;
    color: black;
   
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.5); 
    background-color: #0e3f77;
}
.humidity img{
    height: 100px;
    width: 100px ;
    margin-bottom: 0.5em;
}.humidity-text{
    text-align: center;
    color: white;
}
.bookmark{
    text-align: center;
    
}
.bookmark-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bookmark-list li {
    
    
    
    margin-right: 0.5em;
    line-height: 1.8rem;
    border-radius: 9.5px;
    display: inline-flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    position: relative;
    background-color: #18181b;
    color: #f4f4f5;
    transition: background-color 0.2s ease-in-out;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    list-style-type: none;
    
}.bookmark-list li:hover{
    background-color: #0c0c0d;
}

  

  
.bookmark-list li:before {
    content: "";
    position: absolute;
    background: linear-gradient(
      to right,
      rgb(43, 115, 197),
      rgb(14, 63, 119),
      rgb(22, 167, 158)
    );
    inset: -2px;
    z-index: -1;
    border-radius: 12.5px;
    transition: all 0.2s ease 0s;
}
  
.bookmark-list li:hover:before {
    box-shadow: rgba(0, 220, 130, 0.5) 0px 0px 10px 0px,
      rgba(54, 228, 218, 0.5) 0px 0px 20px 0px;
}
  
  .btn > span {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
  }


.footer{
    position: sticky;
    bottom: 0;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    background-color:#2b73c5;
}hr{
    width: 50%;
    height: 2px;
    background-color: white;
    margin: auto;
}
